/*---------------------
 Google font link in below
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Common Css stylesheet start form here */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F7F9FC;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.title{
    margin: 20px 0;
}
.title h1{
    font-size: 2em;
    color: #111;
    text-transform: capitalize;
    line-height: 2;
}

.underline{
    width: 200px;
    height: 1px;
    background-color: #2D25A0;
}
.btn{
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: transform .4s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.all-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin: 40px 0;
}
/* common css stylesheet end here */

/* header section stylesheet start */
#header{
    background-color: #2D25A0;
}

/* nav part css below */
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    transition: all .4s linear;
}
nav ul li a:hover{
    background-color: #fff;
    color: #2D25A0;
    border-radius: 4px;
}
.login-btn i{
    margin-right: 10px;
}

/* bennar part css below */

.bennar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.dailoge-box{
    color: #fff;
}
.dailoge-box i{
    margin-left: 10px;
}

.bennar-img img{
    width: 80%;
}

/* header section stylesheet end */

/* top players section stylesheet start  */

.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.player-profile{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    padding: 15px;
    border-radius: 5px;
}
.player-img img{
    width: 100%;
}
.player-info h2{
    font-size: 28px;
    line-height: 2.5;
    text-transform: capitalize;
}
.player-info p{
    color: #777;
}


/* top players section stylesheet end */

/* top country section stylesheet start  */
/* top country section stylesheet end */

/* News section stylesheet start */
/* News section stylesheet end */

/* Copa21 section stylesheet start  */
/* Copa21 section stylesheet end */

/* footer section stylesheet start */
/* footer section stylesheet end */